{% extends '../base.html' %}
{% block content %}
{% load static %}
{% if messages %}
<div class="alert alert-success">
    {% for m in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
    {% endfor %}
</div>
{% endif %}
<!-- Modal 1 with id="create-company"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="merge-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<!-- Modal 2 with id="modal" -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<!-- Create company button -->
<button id="create-company" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus"></span> Create company
</button>
<!-- Merge buttons -->
<button id="merge-company" class="btn btn-info" type="button">
    <span class="fa fa-clone"></span> Merge companies
</button>
<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">ISIN</th>
        <th scope="col">Ticker</th>
        <th scope="col">Bloomberg</th>
        <th scope="col">EKD section ID</th>
        <th scope="col">EKD class ID</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for company in companies %}
    <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.isin }}</td>
        <td>{{ company.ticker }}</td>
        <td>{{ company.bloomberg }}</td>
        <td>{{ company.ekd_sectionid }}</td>
        <td>{{ company.ekd_classid }}</td>
        <td>
            <!-- Update buttons -->
            <button type="button" id="update-company" class="bs-modal btn btn-sm btn-primary"
                    data-form-url="{% url 'update_company' company.id %}">
                <span class="fa fa-pencil"></span>
            </button>
            <!-- Delete buttons -->
            <button type="button" id="delete-company" class="bs-modal btn btn-sm btn-danger"
                    data-form-url="{% url 'delete_company' company.id %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        $(".bs-modal").each(function () {
            $(this).modalForm({
                formURL: $(this).data('form-url')
            });
        });

        $("#create-company").modalForm({
            formURL: "{% url 'create_company' %}",
            modalID: "#create-modal"
        });

        $("#merge-company").modalForm({
            formURL: "{% url 'merge_company' %}",
            modalID: "#merge-modal"
        });
    });
</script>

{% endblock %}