{% extends '../messagesBase.html' %}
{% block entity %}
{% load static %}

<h2>Export database</h2>

<form method="post">{% csrf_token %}
    <div class="col-sm-4 col-xs-4 m-3">
        <div class="form-group">
            <label>{{form.folder_sheet}}</label>
            {{form.folder}}
        </div>
        <div class="form-group form-checkbox">
            {{form.delete}} {{form.delete_sheet}}
        </div>
        <div class="form-group float-md-right submit-button">
            <button type="submit" class="btn-dark">Export</button>
        </div>
    </div>
</form>

{% endblock %}