{% extends '../messagesBase.html' %}
{% block entity %}
{% load static %}

<h2>Import database</h2>

<form method="post">{% csrf_token %}
    <div class="col-sm-4 col-xs-4 m-3">
        <div class="form-group">
            <label>{{form.file_sheet}}</label>
            {{form.file}}
        </div>
        <div class="form-group float-md-right submit-button">
            <button type="submit" class="btn-dark">Import</button>
        </div>
    </div>
</form>

<div id="pop-up-databaseImport" class="modal fade" role="dialog">
    {% if path %}
    {% include "manage/database_is_not_empty_error.html" with path=path sheet='databaseImport' %}
    {% endif %}
</div>

{% endblock %}