{% extends '../base.html' %}
{% block content %}
{% load static %}

<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<button id="create-market" class="btn btn-primary" type="button" name="button">Create market value</button>

<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th scope="col">Company</th>
        <th scope="col">Period end</th>
        <th scope="col">Market value</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for mv in values %}
    <tr>
        <td>{{ mv.company_id }}</td>
        <td>{{ mv.period_end|date:"Y-m-d" }}</td>
        <td>{{ mv.market_value  }}</td>
        <td>
            <button type="button" id="update-market" class="bs-modal btn btn-sm btn-primary"
                    data-form-url="{% url 'update_market' mv.id %}">
                <span class="fa fa-pencil"></span>
            </button>
            <button type="button" id="delete-market" class="bs-modal btn btn-sm btn-danger"
                    data-form-url="{% url 'delete_market' mv.id %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
  $(function () {

    $(".bs-modal").each(function () {
      $(this).modalForm({
          formURL: $(this).data('form-url')
      });
    });

    $("#create-market").modalForm({
        formURL: "{% url 'create_market' %}",
        modalID: "#create-modal"
    });

  });
</script>

{% endblock %}