<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 1000px">
        <form method="post" action="../insert_data">{% csrf_token %}
            <div class="modal-header">
                <h3 class="modal-title">Unify companies</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div id="possible-matches" class="container">
                <div class="modal-body">
                    {{ unification_form }}
                    <input type="hidden" value="{{ unification }}" name="unification" />
                    <input type="hidden" value="{{ overlapping_data }}" name="overlapping" />
                </div>
                <div class="modal-footer">
                    <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });
        $('.modal-dialog').draggable({
            handle: ".modal-header"
        });
        $('#unification-modal').modal('show');
    })
</script>