{% extends '../messagesBase.html' %}
{% block entity %}
{% load static %}

    <form method="post">{% csrf_token %}
        <br>
        {{ form }}
        <button type="submit">Import</button>
    </form>

    <div id="unification-modal" class="modal fade" role="dialog">
        {% if unification_form %}
            {% include "import/company_unification_details.html" %}
        {% endif %}
    </div>
    <div id="overlapping-modal" class="modal fade" role="dialog">
        {% if overlapping %}
            {% include "import/overlapping_gpw_details.html" %}
        {% endif %}
    </div>

{% endblock %}
