{% extends '../base.html' %}

{% block content %}
<br>
<h3>Import</h3>
<h2>Notoria</h2>

<form method="post">
    {% csrf_token %}
    <h3>{{form.bs_sheet}}</h3>
    {{form.chosen_sheets_bs}}
    <h3>{{form.fr_sheet}}</h3>
    {{form.chosen_sheets_fr}}
    <h3>{{form.dp_sheet}}</h3>
    {{form.chosen_sheets_dp}}
    <br>
    <label for="file_path">Pass path to file: </label>
    <input id="file_path" type="text" name="file_path" value="{{ file_path }}">

    <input type="submit" value="Import">
</form>
<div id="pop-up-bs" class="modal fade" role="dialog">
                    {% if error_bs %}
                {% include "import/overlapping_notoria_details.html" with error=error_bs sheet='bs' exist=exist_bs overlap=overlap_bs %}
                {% endif %}
</div>
<div id="pop-up-fr" class="modal fade" role="dialog">
                {% if error_fr %}
                {% include "import/overlapping_notoria_details.html" with error=error_fr sheet='fr' exist=exist_fr overlap=overlap_fr %}
                {% endif %}
</div>
<div id="pop-up-dp" class="modal fade" role="dialog">
                {% if error_dp %}
                {% include "import/overlapping_notoria_details.html" with error=error_dp sheet='dp' exist=exist_dp overlap=overlap_dp %}
                {% endif %}
</div>

{{ form.errors }}
{{ form.non_field_errors }}
{% endblock %}
