{% extends '../base.html' %}

{% block content %}
<br>
<h3>Import</h3>
<h2>Notoria</h2>

<form method="post">
{% csrf_token %}
<h3>{{form.bs_sheet}}</h3>
    {{form.chosen_sheets_bs}}
<h3>{{form.fr_sheet}}</h3>
    {{form.chosen_sheets_fr}}
<h3>{{form.dp_sheet}}</h3>
    {{form.chosen_sheets_dp}}
<h3>{{form.gpw_sheet}}</h3>
    {{form.period_end}}
    <br>
    <label for="file_path">Pass path to file: </label>
        <input id="file_path" type="text" name="file_path" value="{{ file_path }}">

<input type="submit" value="Import">
</form>
{%if error%}
{% include 'import/company_not_found.html' %}
{%endif%}

{{ form.errors }}
{{ form.non_field_errors }}
{% endblock %}

<script>
    $(document).ready(function () {

    })
</script>