:root {
    --primary-green: #003300;
    --second-gray: #495057;
}

header {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

body {
    font-family: Arial, sans-serif;
    color: black;
}

main {
    margin: 3em;
}

h1 {
    text-align: center;
    color: var(--primary-green);
    font-size: 46px;
    font-family: Verdana, Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}

h2 {
    color: var(--primary-green);
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
    margin: 0 0 1em 0.85em;
}

.description-font {
    color: var(--second-gray);
    font-family: Verdana, Arial, sans-serif;
}

.form-legend {
    font-size: 16px;
    margin: 0.5em;
    width: auto;
    color: var(--primary-green);
    font-weight: bold;
}

.radio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    color: var(--second-gray);
}

.form-checkbox {
    color: var(--second-gray);
}

.form-row {
    margin: 1em;
    margin-top: 0;
    color: var(--second-gray);
}

.left {
    float: left;
    margin-right: 150px;
}

.right {
    float: left;
}

.form-group > label {
    color: var(--primary-green);
    font-weight: bold;
}

.submit-button {
    margin-right: 3em;
    text-align: right;
}

nav {
    text-align: center;
}

.menu-dropdown {
    display: inline-block;
    position: relative;
}

.menu-dropdown:hover .menu-dropdown-options {
    display: block;
}

.menu-dropdown:hover .menu-button {
    background-color: #696969;
}

.menu-button {
    width: 250px;
    border: none;
    background-color: #808080;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    margin: 3px 3px 0 3px;
    padding: 14px 5%;
    font-weight: bold;
}

.menu-dropdown-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 2%;
}

.menu-dropdown-options a {
    display: block;
    font-size: 15px;
    color: black;
    padding: 6px 10px;
    min-width: 250px;
    text-decoration: none;
}

.menu-dropdown-options a:hover {
    background-color: #ddd;
}