{% extends '../base.html' %}
{% block content %}
<h2>Export to csv</h2>
<div id="export_notoria_form">
    <form method="post">
        {% csrf_token %}
        <label for="file_name">Pass file name: </label>
        <input id="file_name" type="text" name="file_name" value="{{ file_name }}">
        <select id="id_chosen_data" name="chosen_data" onchange="tableChange()">
            <option value="-da">Detailed assets</option>
            <option value="-ca">Assets categories</option>
            <option value="-fa">Full assets</option>
            <option value="-de">Detailed equity and liabilities</option>
            <option value="-ce">Equity and liabilities categories</option>
            <option value="-fe">Full equity and liabilities</option>
            <option value="-f">Financial ratios</option>
            <option value="-d">DuPont Indicators</option>
            <option value="-s">Stock quotes</option>
            <option value="-mv">Market values</option>
        </select>
        {{form.chosen_companies}}
        <div id="id_chosen_interval_stooq">{{form.chosen_interval_stooq}}</div>
        <div id="id_chosen_interval_gpw">{{form.chosen_interval_gpw}}</div>
        {{form.date_ranges_count}}
        {{form.start_date_0}}
        {{form.end_date_0}}
        <button type="button" id="add-another">Add another</button>
        <input type="submit" value="Export">
    </form>
</div>
{{form.errors}}
<script>
    let form_count = Number($("[name=date_ranges_count]").val());

    $("#add-another").click(function () {
        form_count++;

        let element = $('div.input-group.date').slice(-2).clone();
        element.first().find('input').attr('name','start_date_'+form_count);
                element.first().find('input').attr('id','id_start_date_'+form_count);

        element.last().find('input').attr('name','end_date_'+form_count);
                element.last().find('input').attr('id','id_end_date_'+form_count);

        element.insertAfter($('div.input-group.date').last('div'));

        $("[name=date_ranges_count]").val(form_count);
    });

    function tableChange() {
        const chosen_data_elem = document.getElementById('id_chosen_data');
        const selected_value = chosen_data_elem.options[chosen_data_elem.selectedIndex].value;
        let stooq_interval_elem = document.getElementById('id_chosen_interval_stooq');
        let gpw_interval_elem = document.getElementById('id_chosen_interval_gpw');
        console.log(selected_value);

        if(selected_value === '-s') {
            stooq_interval_elem.style.display = '';
            gpw_interval_elem.style.display = 'none';
        } else if(selected_value === '-mv') {
            gpw_interval_elem.style.display = '';
            stooq_interval_elem.style.display = 'none';
        } else {
             stooq_interval_elem.style.display = 'none';
             gpw_interval_elem.style.display = 'none';
        }
    }

    window.onload = function() {
        document.getElementById('id_chosen_interval_stooq').style.display = 'none';
        document.getElementById('id_chosen_interval_gpw').style.display = 'none';
    };
</script>
{% endblock %}