{% extends '../messagesBase.html' %}
{% block entity %}
{% load static %}

<h2>Export to csv</h2>
<div id="export_notoria_form">
    <form method="post">
        {% csrf_token %}
        <label for="file_name">Pass file name: </label>
        <input id="file_name" type="text" name="file_name" value="{{ file_name }}">
        <select id="id_chosen_data" name="chosen_data" onchange="tableChange()">
            <option value="-da">Detailed assets</option>
            <option value="-ca">Assets categories</option>
            <option value="-fa">Full assets</option>
            <option value="-de">Detailed equity and liabilities</option>
            <option value="-ce">Equity and liabilities categories</option>
            <option value="-fe">Full equity and liabilities</option>
            <option value="-f">Financial ratios</option>
            <option value="-d">DuPont Indicators</option>
            <option value="-s">Stock quotes</option>
            <option value="-mv">Market values</option>
        </select>
        {{form.chosen_companies}}
        <div id="id_chosen_interval_balance">{{form.chosen_interval_balance}}</div>
        <div id="id_chosen_interval_ratios">{{form.chosen_interval_ratios}}</div>
        <div id="id_chosen_interval_stooq">{{form.chosen_interval_stooq}}</div>
        <div id="id_chosen_interval_gpw">{{form.chosen_interval_gpw}}</div>
        {{form.date_ranges_count}}
        <div id="dates">
                <div>From: </div>{{form.start_date_0}}
                <div>To: </div>{{form.end_date_0}}
        </div>

        <button type="button" id="add-another">Add another</button>
        <input type="submit" value="Export">
    </form>
</div>
{{form.errors}}
<script>
    let form_count = Number($("[name=date_ranges_count]").val());

    let stooq_interval_elem = $('#id_chosen_interval_stooq');
    let gpw_interval_elem = $('#id_chosen_interval_gpw');
    let ratios_interval_elem = $('#id_chosen_interval_ratios');
    let balance_interval_elem = $('#id_chosen_interval_balance');

    const intervals = {
        '-f': ratios_interval_elem,
        '-d': ratios_interval_elem,
        '-s': stooq_interval_elem,
        '-mv': gpw_interval_elem
    }
    let balance_sheet_intervals = ['-da', '-ca', '-fa', '-de', '-ce', '-fe']
    balance_sheet_intervals.forEach(v => {
        intervals[v] = balance_interval_elem
    })

    let dates = $("#dates").children();

    $("#add-another").click(function () {
        form_count++;

        let element = dates.clone();
        //let element = $('div.input-group.date').slice(-2).clone();
        element.first().find('input').attr('name','start_date_'+form_count);
        element.first().find('input').attr('id','id_start_date_'+form_count);

        element.last().find('input').attr('name','end_date_'+form_count);
        element.last().find('input').attr('id','id_end_date_'+form_count);

        element.insertAfter($('div.input-group.date').last('div'));

        $("[name=date_ranges_count]").val(form_count);
    });

    function tableChange() {
        const selected_value = $('#id_chosen_data').children("option:selected").val();
        $.each(intervals, function (k, v) {
            v.hide();
        })
        intervals[selected_value].show();
    }
    $(document).ready(function(){
        $('#id_chosen_interval_ratios').hide();
        $('#id_chosen_interval_stooq').hide();
        $('#id_chosen_interval_gpw').hide();
    })
    window.onload = function() {

    };
</script>
{% endblock %}