<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import data from balance sheet</title>
</head>
<body>
<h1>EXPORTER</h1>

<button onclick="showList()" id="importButton" class="buttons">Import</button>
<ul id="list">
  <li><a href = "" id="importNotoria">Import from Notoria</a></li>
  <li><a href = "" id="importStooq">Import from Stooq</a></li>
</ul>

<button onclick="window.location.href=window.location.origin+'/export/notoria'" id="exportButton" class="buttons">Export</button>

{% block content %}
{% endblock %}

<script>
    var urlBase = window.location.origin;
    var link = document.getElementById("importStooq");
    link.setAttribute('href', urlBase + '/import/stooq');
    var link = document.getElementById("importNotoria");
    link.setAttribute('href', urlBase + '/import/notoria');
    var list = document.getElementById("list");
    list.style.display = "none";

    function showList() {
        var list = document.getElementById("list");

        if (list.style.display == "none"){
            list.style.display = "block";
        }else{
            list.style.display = "none";
        }
}
</script>

</body>
</html>