<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EXPORTER</title>
    {% load static %}
    <script src="{% static 'script/jquery-3.5.1.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<h1>EXPORTER</h1>

<button onclick="showImportOptions()" id="importButton" class="buttons">Import</button>
<ul id="import-options" style="display: none">
    <li><a href="{% url 'import_notoria' %}" id="importNotoria">Import from Notoria</a></li>
    <li><a href="{% url 'import_stooq' %}" id="importStooq">Import from Stooq</a></li>
    <li><a href="{% url 'import_gpw' %}" id="importGPW">Import from GPW</a></li>
</ul>

<button onclick="window.location.href=window.location.origin+'/export/notoria'" id="exportButton" class="buttons">
    Export
</button>
<button onclick="showManageOptions()" id="manageDataButton" class="buttons">Manage data</button>
<ul id="manage-options" style="display: none">
    <li><a href="{% url 'get_companies' %}" id="show-companies">Show companies</a></li>
</ul>

{% block content %}
{% endblock %}

<script>
    // var urlBase = window.location.origin;
    // var link = document.getElementById("importStooq");
    // link.setAttribute('href', urlBase + '/import/stooq');
    // var link = document.getElementById("importNotoria");
    // link.setAttribute('href', urlBase + '/import/notoria');
    // var link = document.getElementById("importGPW");
    // link.setAttribute('href', urlBase + '/import/gpw');

    function showImportOptions() {
        $('#import-options').toggle()
    }

    function showManageOptions() {
        $('#manage-options').toggle()
    }
</script>
</body>
</html>